@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");

    font-family: "CyberpunkWaifus";
    src: url("fonts/CyberpunkWaifus.ttf");
}

body {
    display: flex;
    margin: 0;
    font-family:'CyberpunkWaifus', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.left-panel {
    display: flex;
    width: 30%;
    height: 100vh;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.right-panel > div {
    padding: 0px 36px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 16px 0px;
    padding: 36px 48px;
    background-color: #1f1a2e;
    color: white;
    box-shadow: 1px 3px 5px #b1aaaa;
}

form > div > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    box-sizing: border-box;
    font-size: 24px;
    font-family: inherit;
    background-color: black;
    color: white;
    height: 36px;
    width: 360px;
    border: 2px solid transparent;
    box-shadow: 
        0px 0px 0px 2px #1f1a2e,
        0px 0px 0px 4px #151024,
        0px 0px 0px 10px #1f1a2e,
        0px 0px 0px 12px #2a2637;
}

input:invalid {
    border-color: red;
}

input + span {
    position: relative;
}

input[type="text"]:invalid + span::after {
    position: absolute;
    left: 5px;
    content: "* Only alphabet characters are allowed";
    color: red;
    font-size: 16px;
}

input[type="tel"]:invalid + span::after {
    position: absolute;
    left: 5px;
    content: "* Invalid phone number format";
    color: red;
    font-size: 16px;
}

input[type="email"]:invalid + span::after {
    position: absolute;
    left: 5px;
    content: "* Invalid email format";
    color: red;
    font-size: 16px;
}

input[id="confirm-pWord"]:invalid + span::after {
    position: absolute;
    left: 5px;
    content: "* Password do not match";
    color: red;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(86, 178, 253);
    box-shadow: 1px 1px 4px rgb(68, 67, 67);
}

.background {
    width: 100%;
    background-image: url("image/jill_bg.jpeg");
    background-size: 100%;
    background-position: 0px 0px;
    position: relative;
}

.background > div + div{
    position: absolute;
    color: white;
    bottom: 1vh;
    right: 50%;
    transform: translate(50%);
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25vh;
    height: 150px;
}

.logo > img {
    z-index: 1;
    height: auto;
    width: 75%;
}

.logo-text {
    z-index: 1;
    font-size: 100px;
    color: white;
    font-family: "Norse-Bold", Arial, Helvetica, sans-serif;
}

.logo-bg {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: black;
    opacity: 50%;
}

.row {
    display: flex;
    gap: 72px;
}

button {
    margin-top: 8px;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #596D48;
    font-family:'CyberpunkWaifus', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
}

button:active {
    background-color: green;
}

.form-text {
    font-size: 24px;
}

.top {
    margin-bottom: 48px;
    font-size: 30px;
}

.bottom {
}

a, a:visited {
    color: white;
}
